html, body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif
}

.bg {
  background: #FBFCFF url("bg.svg") center center no-repeat;
  background-size: contain;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  max-width: 900px;
  height: 100vh;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
}

@media (min-height: 900px) {
  .wrapper {
    justify-content: center;
  }
}

.preview-slide-container {
  flex-basis: 40%;
  position: relative;
  /* display: flex; */
}

.preview-slide-container > div {
  transform: scale(.7);
  width: 30rem;
  height: 36rem;
  position: absolute;
  transition: all .5s ease-in-out;
}

.preview-slide-0 {
  background: url("preview-slide-1.svg") center left no-repeat;
  left: -7rem;
}
.preview-slide-1 {
  background: url("preview-slide-0.svg") center left no-repeat;
  left: -2rem;
  top: -4rem;
}

.preview-slide-0:hover {
  transform: scale(1) translate3d(-8rem, -2rem, 0);
  z-index: 999;
}

.preview-slide-1:hover {
  transform: scale(1) translate3d(-13rem, 2rem, 0);
  z-index: 999;
}

.row {
  display: flex;
  flex-flow: row nowrap;
}

.main-text {
  margin-left: 2rem;
  flex-basis: 60%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

h1, h2, h3 {
  font-weight: normal;
  margin: .5rem 0;
  font-size: 2rem;
  line-height: 1.34em;
}

.home-header {
  margin: 3rem 0 0 0;
}

.home-header-sub {
  margin: .5rem 0;
}

h1 {
  margin-bottom: 2rem;
  color: #32325D;
  font-size: 2.4rem;
}

h2 {
  margin: 3rem 0 1rem 0;
  color: #32325D;
}

h3 {
  margin: 2rem 0 1rem 0;
  font-size: 1.2em;
  color: #65778F;
}

.actions-container {
  /* color: #3ECF8E; */
  font-size: 1.4rem;
  margin: 2rem 0;
  display: flex;
  flex-flow: column nowrap;
  /* position: absolute; */
}

.actions-container > img {
  margin: .5rem 0;
  width: 12rem;
  cursor: no-drop;
}

menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: flex-end;
  border-bottom: 1px solid #EAEFF5;
}

menu.footer-menu {
  border-bottom: none;
  border-top: 1px solid #EAEFF5;
  justify-content: flex-start;
}

menu > li {
  list-style: none;
}

menu a {
  display: inline-block;
  color: #697A92;
  padding: 2rem;
  overflow: hidden;
}

.main-content {
  max-width: 42rem;
  margin: auto;
  background: #FBFCFF;
  padding: 2rem;
  line-height: 1.46rem;
}

a {
  color: #1FA2FF;
}

a:hover {
  color: #10BDFF;
}

table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: .9rem;
  line-height: 1.2rem;
  border-collapse: collapse;
  width: 100%;
}

thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}

li {
  margin-bottom: calc(1.45rem / 2);
}